{% extends "templates/app.twig" %}
{% block content %}
    <div class="row">
      <div class="col-md-6 mx-md-auto">
        <div class="card">
          <div class="card-header">
            Sign In
          </div>
          <div class="card-body">
            <form action="{{ path_for('auth.signin') }}" method="POST" autocomplete="off">
              {{ csrf.field | raw }}
              <div class="form-group has-float-label">
                <input type="email" class="form-control{{ errors.email ? ' is-invalid' : '' }}" name="email" id="email" placeholder=" " value="{{ old.email ? old.email : '' }}">
                <label for="email"><i class="fas fa-envelope fa-fw"></i> Email address</label>
                <small class="form-text text-danger text-right">{{ errors.email | first | capitalize }}</small>
              </div>
              <div class="form-group has-float-label">
                <input type="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" name="password" id="password" placeholder=" ">
                <label for="password"><i class="fas fa-unlock fa-fw"></i> Password</label>
                <small class="form-text text-danger text-right">{{ errors.password | first | capitalize }}</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
