{% extends "templates/app.twig" %}
{% block content %}
    <div class="row">
      <div class="col-md-6 mx-md-auto">
        <div class="card">
          <div class="card-header">
            Change Password
          </div>
          <div class="card-body">
            <form action="{{ path_for('auth.password.change') }}" method="POST" autocomplete="off">
              {{ csrf.field | raw }}
              <div class="form-group has-float-label">
                <input type="password" class="form-control{{ errors.password_old ? ' is-invalid' : '' }}" name="password_old" id="password_old" placeholder=" ">
                <label for="password_old"><i class="fas fa-unlock fa-fw"></i> Current Password</label>
                <small class="form-text text-danger text-right">{{ errors.password_old | first | capitalize }}</small>
              </div>
              <div class="form-group has-float-label">
                <input type="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" name="password" id="password" placeholder=" ">
                <label for="password"><i class="fas fa-unlock fa-fw"></i> New Password</label>
                <small class="form-text text-danger text-right">{{ errors.password | first | capitalize }}</small>
              </div>
              <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
