<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/assets{{ Mix("/css/app.css") }}" />
</head>
<body>
  <script>var alerts = new Array();</script>
{% include 'templates/partials/flash.twig' %}
{% include 'templates/partials/nav.twig' %}
  <main class="container">
{% block content %}{% endblock content %}
  </main>
  <script src="{{ base_url() }}/assets{{ Mix("/js/app.js") }}"></script>
</body>
</html>
