{% if flash.getMessage('info') %}
  <script>
    alerts.push({"type":"info", "message":"{{ flash.getMessage('info') | first }}"});
  </script>
{% endif %}
{% if flash.getMessage("error") %}
  <script>
    alerts.push({"type":"danger", "message":"{{ flash.getMessage('error') | first }}"});
  </script>
{% endif %}
