  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{{ base_url() }}">Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('home') }}">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
{% if auth.check %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i> {{ auth.user.name }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path_for('auth.password.change') }}">Change Password</a>
              <a class="dropdown-item" href="{{ path_for('auth.signout') }}"> Sign out</a>
            </div>
          </li>
{% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('auth.signin') }}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path_for('auth.signup') }}">Sign Up</a>
          </li>
{% endif %}
        </ul>
      </div>
    </div>
  </nav>
